body {
    position: relative;
    z-index: 1;
  }
  

.container{
    z-index: 1;
}
.jumbotron{
    background: hidden;
    z-index: 20;
}

.h1{
    text-align: center;
}
.p1{
    text-align: center;
}