<!DOCTYPE html>
   <html>
     <head>
       <meta charset="utf-8">
       <link href="TopTenList.css" rel="stylesheet" type="text/css">
       <style>
         td {color: Gold;}
        </style>
       <title>Top Ten Things I Want To Do During Summer Break .html list</title>
     </head>
     <body>
       <h1 style="color:GoldenRod;  background-color:DarkOliveGreen;">Top Ten Things I Want To Do This Summer</h1>
       <table>
        <tr><th style"=color:Gold; background-color:DimGray">Rank</th><th style"=color:Gold; background-color:DimGray">Description</th><th style="color:Gold; background-color:DimGray;">"Visual Aids"</th></tr>
        <tr><td style="color:Gold; background-color:DimGray;">1</td><td style="color:GoldenRod; background-color:Gray;">Become a Spartan(either kind)</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/Master Chief Eating Big Mac.jpg" alt="Picture of Master Chief Eating a Big Mac"/></td></tr>
        <tr><td style="color:Gold; background-color:DimGray;">2</td><td style="color:GoldenRod; background-color:Gray;">Fight a Toyota Tacoma Pickup Truck</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/Toyota-Thon Now.jpg" alt="Man losing to a Toyota Tacoma"/></td></tr>
        <tr><td style="color:Gold; background-color:DimGray;">3</td><td style="color:GoldenRod; background-color:Gray;">Sleep</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/Sleep.jpg" alt="Sleeping Dude"/></td></tr>
        <tr><td style="color:Gold; background-color:DimGray;">4</td><td style="color:GoldenRod; background-color:Gray;">Learn to speak Cheems</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/Cheems.jpg" alt="Cheems Dog"/></td></tr>
        <tr><td style="color:Gold; background-color:DimGray;">5</td><td style="color:GoldenRod; background-color:Gray;">Almost catch Captain Jack Sparrow</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/Jack Sparrow Go AHHHH!.jpg" alt="Jack Sparrow"/></td></tr>
        <tr><td style="color:Gold; background-color:DimGray;">6</td><td style="color:GoldenRod; background-color:Gray;">Visit Gary Indiana</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/Gary Indiana.jpg" alt="Gary Indiana"/></td></tr>
        <tr><td style="color:Gold; background-color:DimGray;">7</td><td style="color:GoldenRod; background-color:Gray;">Not die in Gary Indiana</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/Scary Indiana.jpg" alt="Scary Indiana"/></td></tr>
        <tr><td style="color:Gold; background-color:DimGray;">8</td><td style="color:GoldenRod; background-color:Gray;">See how many Monster Energy drinks I can consume</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/Kyle The Consumer.jpg" alt="A Kyle Consuming Energy Drinks"/></td></tr>
        <tr><td style="color:Gold; background-color:DimGray;">9</td><td style="color:GoldenRod; background-color:Gray;">Get superpowers</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/Screaming Hugh.jpg" alt="Picture of a Screaming Hugh Jackman"/></td></tr>
        <tr><td style="color:Gold; background-color:DimGray;">10</td><td style="color:GoldenRod; background-color:Gray;">Become a Jedi</td><td style="color:GoldenRod; background-color:Gray;"><img src="images/me jedi.jpg" alt="Picture of grand master jedi Shrek"/></td></tr>
      </table>
      <ul>
          <li>Above is an HTML page I created as part of my first assignment using HTML, CSS, and JS.</li>
      </ul>
        <p><a href="index.html">Career Page</a></a></p>  
        <p><a href="BoardGameProject.html">Board Game Project</a></p>
        <p><a href="3.3.1ClassHelper.html">3.3.1 Class Helper Project</a></p>  
        <p><a href="WheelOfFortune.html">Wheel Of Fortune Project</a></p>
    </body>
  </html>